<nav class="d-flex justify-content-center mt-4">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page <= 1">
        <button (click)="previousPage()" class="page-link">Anterior</button>
      </li>
      <li class="page-item" [class.active]="page === 1">
        <a class="page-link" (click)="goToPage(1)">1</a>
      </li>
      <li class="page-item" [class.active]="page === 2">
        <a class="page-link" (click)="goToPage(2)">2</a>
      </li>
      <li class="page-item" [class.active]="page === 3">
        <a class="page-link" (click)="goToPage(3)">3</a>
      </li>
      <li class="page-item">
        <button (click)="nextPage()" class="page-link">Siguiente</button>
      </li>
    </ul>
  </nav>
  